@font-face {
  font-family:'Alkhemikal';
  src: url('../assets/fonts/Alkhemikal.ttf');
}

nav li {
  font-family: 'Alkhemikal', sans-serif; 
  color: black;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body {
background-image: url('/assets/background/BackgroundSeamless.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: repeat;
  margin: 0; 
  height: 100%; 
}

header {
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  height: 75px;
  margin-bottom: 20px;
  background-image: url('../assets/background/HeaderBackgroundV2.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

header li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-size: larger;
  padding: 10px;
}

a {
  text-decoration: none;
  cursor:pointer;
}

a:visited { 
  color: white;
}
.wall {
  position: absolute;
}
  
  #mainChar {
  position: absolute;
  z-index: 100;
}

#door {
  position: absolute;
  z-index: 3;
}

#key {
  position: absolute;
  z-index: 2;
}

#main {
  margin-top: 100px;
  position: relative;
  width: 648px; 
  height: 648px; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#background-image {
  z-index: 0;
  width: 100%;
  height: auto;
  display: block; 
  position: relative;
}

main::after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../assets/background/Outline_Background650x650.png'); 
  background-repeat: no-repeat;
  background-size: cover; 
  pointer-events: none; 
}