@font-face {
  font-family:'Alkhemikal';
  src: url('../assets/fonts/Alkhemikal.ttf');
}

nav li {
  font-family: 'Alkhemikal', sans-serif; 
}

@font-face {
  font-family:'Early GameBoy';
  src: url('../assets/fonts/Early\ GameBoy.ttf');
}


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/background/BackgroundSeamless.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: repeat;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  height: 75px;
  background-image: url('../assets/background/HeaderBackgroundV2.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
header img.logo {
  max-height: 100%;
  margin-top: 20px;
  margin-right: 20px;
}

header ul {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

header li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-size: larger;
  padding: 20px;
}
nav {
  display: flex;
  align-items: center;
}

nav a {
  display: inline-block;
  transition: transform 0.3s ease, text-shadow 0.3s ease; 
  text-decoration: none;
  cursor:pointer;
  color: #FFFFFF; 
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3); 
}

nav a:hover {
  transform: scale(1.1); 
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

nav a:visited { 
  color: white;
}

.wall {
  position: absolute;
}

.junction {
  position: absolute;
}
  
#mainChar {
  position: absolute;
  z-index: 100;
}

#door {
  position: absolute;
  z-index: 3;
}

#key {
  position: absolute;
  z-index: 2;
}

#information {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
#information, #HUD {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; 
  max-width: 648px;
  margin: 0px;
  box-sizing: border-box;
  background-image: url(../assets/background/HeaderBackgroundV2.png);
  background-size:cover;
  height: fit-content;

}
body #information, body #HUD {
  height: 80px; /* Adjusted height */
  /* Other properties */
}
#information div, #HUD div {
    margin: 0 10px; /* Spacing between each div */
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    /* Ensure divs inside the containers also don't grow too large */
    max-width: 200px; /* Optional: Constrain child div width if necessary */
    box-sizing: border-box; /* Include padding and border in the div's total width */
  }

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 648px;
  height: 648px;
  position: relative;
  z-index: 1;
  margin: 0;
}

#background-image {
  z-index: 0;
  width: 100%;
  height: auto;
  display: block; 
  position: relative;
}

main::after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../assets/background/Outline_Background650x650.png'); 
  background-repeat: no-repeat;
  background-size: cover; 
  pointer-events: none; 
}


#sidePanel h1 {
  font-family: 'Alkhemikal', sans-serif; 
  color: #FFFFFF;
  font-size: medium;
}

#sidePanel button {
  font-family: 'Alkhemikal', sans-serif; 
  color: black;
  font-size: smaller;
}

#floor-interim {
  background-color: black;
  width: 648px;
  height: 648px;
  z-index: 50;
  position: absolute;
  top: 0px;
  left: 0px;
}

#chest {
  position: absolute;
}