@font-face {
  font-family:'Alkhemikal';
  src: url('../assets/fonts/Alkhemikal.ttf');
}

nav li {
  font-family: 'Alkhemikal', sans-serif; 
}

@font-face {
  font-family:'Early GameBoy';
  src: url('../assets/fonts/Early\ GameBoy.ttf');
}


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/background/BackgroundSeamless.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: repeat;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  height: 75px;
  background-image: url('../assets/background/HeaderBackgroundV2.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
header img.logo {
  max-height: 100%;
  margin-top: 20px;
  margin-right: 20px;
}

header ul {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

header li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-size: larger;
  padding: 20px;
}
nav {
  display: flex;
  align-items: center;
}

nav a {
  display: inline-block;
  transition: transform 0.3s ease, text-shadow 0.3s ease; 
  text-decoration: none;
  cursor:pointer;
  color: #FFFFFF; 
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3); 
}

nav a:hover {
  transform: scale(1.1); 
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

nav a:visited { 
  color: white;
}

.wall {
  position: absolute;
}

.junction {
  position: absolute;
}
  
#mainChar {
  position: absolute;
  z-index: 49;
}

#door {
  position: absolute;
  z-index: 2;
}

#key {
  position: absolute;
  z-index: 4;
}

#chest {
  position: absolute;
  z-index: 3;
}

#slime {
  position: absolute;
  z-index: 5;
}

#information {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
#information, #HUD {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; 
  max-width: 648px;
  margin: 0px;
  box-sizing: border-box;
  background-image: url(../assets/background/HeaderBackgroundV2.png);
  background-size:cover;
  height: fit-content;

}
body #information, body #HUD {
  height: 80px;
}

#information div, #HUD div {
    margin: 0 10px; 
    padding: 10px;
    color: white;
    text-align: center;
    max-width: 200px; 
    box-sizing: border-box; 
  }


#timer, #level, #score {
  font-family: 'Early GameBoy';
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  margin: 0 80px 20px 80px;
  text-shadow: 0 0 8px rgba(22, 22, 22, 0.5);

}
#main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 648px;
  height: 648px;
  position: relative;
  z-index: 1;
  margin: 0;
}

#background-image {
  z-index: 0;
  width: 100%;
  height: auto;
  display: block; 
  position: relative;
}

main::after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../assets/background/Outline_Background650x650.png'); 
  background-repeat: no-repeat;
  background-size: cover; 
  pointer-events: none; 
}


#sidePanel h1 {
  font-family: 'Alkhemikal', sans-serif; 
  color: #FFFFFF;
  font-size: medium;
}

#sidePanel button {
  font-family: 'Alkhemikal', sans-serif; 
  color: black;
  font-size: smaller;
}

#floor-interim, #end-screen {
  background-color: black;
  width: 648px;
  height: 648px;
  z-index: 50;
  position: absolute;
  top: 0px;
  left: 0px;
}

#level-message, #end-message {
  position: absolute;
  font-family: 'Early GameBoy';
  color: white;
  size: medium;
  z-index: 51;
}

#about {
  padding-top: 300px;
}

#about h1 {
  font-family: 'Alkhemikal', sans-serif; 
  color: #FFFFFF;
  text-align: center;
  font-size: 80px;
  text-shadow: 0 0 8px rgba(22, 22, 22, 0.5);
  margin-bottom: 20px;
}


#about p {
  font-family: 'Early GameBoy';
  color: #FFFFFF;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  margin: 0 100px 20px 100px;
  padding: 0 30px 0 30px;
  text-shadow: 0 0 8px rgba(22, 22, 22, 0.5); 
}

#instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#instructions h1 {
  font-family: 'Alkhemikal', sans-serif; 
  color: #FFFFFF;
  text-align: center;
  font-size: 80px;
  margin: 20px;
  text-shadow: 0 0 8px rgba(22, 22, 22, 0.5);
}


#instructions p {
  font-family: 'Early GameBoy';
  color: #FFFFFF;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  margin: 0 80px 0 80px;
  text-shadow: 0 0 8px rgba(22, 22, 22, 0.5);
}

#instructions h2 {
  font-family: 'Early GameBoy';
  color: #FFFFFF;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  margin: 0 80px 20px 80px;
  text-shadow: 0 0 8px rgba(22, 22, 22, 0.5);
}

#instructions img {
 margin:0px 0px 20px 0px;
}


#doorInstructions {
  justify-content: space-around;
  padding: 10px;
  margin-top: 20px;
}

#pickaxeInstructions {
  justify-content: space-around;
  margin-top: 20px;
}
#zImage {
  margin-bottom: 40px;
}

#creatorButton {
  position: absolute;
  top: 30px;
  right: 30px;
  transition: transform 0.3s ease, text-shadow 0.3s ease; 
  text-decoration: none;
  cursor:pointer;
  color: #FFFFFF; 
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
  font-family: 'Alkhemikal', sans-serif;
}

#creatorButton:hover {
  transform: scale(1.1); 
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

#creatorButton:visited {
  color: white;
}

#creators {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#creators h1 {
  font-family: 'Alkhemikal', sans-serif; 
  color: #FFFFFF;
  text-align: center;
  font-size: 80px;
  margin: 20px;
  text-shadow: 0 0 8px rgba(22, 22, 22, 0.5);
}

#creators p {
    font-family: 'Early GameBoy';
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin: 0 80px 0 80px;
    text-shadow: 0 0 8px rgba(22, 22, 22, 0.5);
  }

#creators a {
  margin: 10px;
}
